{% extends "base.html" %}
{% block contents %}
<div class="row mt-5">
  <div class="col-12">
    <div class="form-group pr-5 pl-5">
      <div class="d-flex justify-content-center">
        <img src="{{post.imageUrl}}" alt="이미지" style="width:100%;">
      </div>
      <p>{{post.content}}</p>
      <div class="text-right">
        Created : {{post.registered_dttm}}<br/>
        Posted by : {{post.writer}}<br/>
        Tags : {{post.tags}}
      </div>
    </div>
    <button class="btn btn-primary" onclick="location.href='/'">돌아가기</button>
  </div>
</div>
{%endblock%}